{% extends 'base.html.twig' %}

{% block title %}
    Hello CategoryController!
{% endblock %}

{% block body %}
    <div class="container">
        <i class="far fa-h1 fa-lg fa-fw">
            Mise a jout d'une categorie
        </i>
        <i class="fas fa-divide fa-sm fa-fw">
            Aller
        </i>

        {{ form(form) }}
        </div>
    {% endblock %}
    