{% extends 'base.html.twig' %}

{% block title %}New SubCategory{% endblock %}

{% block body %}
<div class="container"><br>
    <h1>Creer une categorie</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a href="{{ path('app_sub_category_index') }}">back to list</a>
</div>
{% endblock %}
